
/*
==================================================
General
==================================================
*/
body { 
    font-size: 16px;
    margin: 0; 
    padding: 0;
}


.page {
    margin: 0 auto;
    max-width: 700px;
    position: relative;
}
/*
==================================================
Header
==================================================
*/


header {
    background: url(images/1112.jpg) center no-repeat;
    background-size: 800px auto;
    height: 300px;
    
}

#logoTitle {
    border-style: solid;
    border-width: 0.3rem;
    border-color: orange;
    width: 8rem;
    height: 8.5rem;
    background-color: #FFF;
    margin-left: 2rem;
    
    z-index: 999;
}


/*
==================================================
navbar
==================================================
*/
nav {
    position: sticky;
    top: 0;
    z-index: 990;
    height: 3.5em;
    background-color: orange; 

}

/*
==================================================
section
==================================================
*/
#juicyfruitsalad {
    
}
/*
==================================================
footer
==================================================
*/

/*
==================================================
Media Queries
==================================================
*/
